<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Web Sockets Sample</title>
</head>

<body>

    <center>
    <h1>{{title}}</h1>
    
    <form method="post" action="/websocket" id="formId">
        <label for="message">Message</label>
    	<input name="message" style=" width:150px;" type="text" />
    	<br />
        <br />
    	<input type="submit" value="Send Message" />
    </form>
    
    </center>

</body>
</html>
