{% extends "base.html" %}
{% block title %}Signup{% endblock %}


{% block menu %}
    <li><a href="/">Home</a></li>
    <li><a href="/ajax">Ajax</a></li>
    <li><a href="/login">Login</a></li>
    <li class="active"><a href="#">Signup</a></li>
    <li><a href="/websocket" onclick="popupWindow('/messenger_websocket')">Web Sockets</a></li>
    <li><a href="/upload">File Uploader</a></li>
{% endblock %}


{% block body %}

    <div class="container">

        <form class="form-signin" method="post" id="signup-form">

            <fieldset>

                <legend>Signup</legend>


                <div class="control-group" id="control-group-username">
                    <label class="control-label" for="username">Username *</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" value="{{username}}">
                        <span class="help-inline" id="username_error">{{errorUsername}}</span>
                    </div>
                </div>

                <div class="control-group" id="control-group-password">
                    <label class="control-label" for="password">Password *</label>
                    <div class="controls">
                        <input type="password" id="password" name="password">
                        <span class="help-inline" id="password_error">{{errorPassword}}</span>
                    </div>
                </div>

                <div class="control-group" id="control-group-verify">
                    <label class="control-label" for="verify">Verify Password *</label>
                    <div class="controls">
                        <input type="password" id="verify" name="verify">
                        <span class="help-inline" id="verify_error">{{errorVerify}}</span>
                    </div>
                </div>

                <div class="control-group" id="control-group-email">
                    <label class="control-label" for="email">Email *</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" value="{{email}}">
                        <span class="help-inline" id="email_error">{{errorEmail}}</span>
                    </div>
                </div>


            </fieldset>
            <button type="button" onclick="validateSignUpForm('signup-form');" class="btn">Signup</button>

        </form>
    </div>

{% endblock %}