{% extends "base.html" %}

{% block title %}File Uploader{% endblock %}

{% block menu %}
    <li><a href="/">Home</a></li>
    <li><a href="/ajax">Ajax</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/websocket" onclick="popupWindow('/messenger_websocket')">Web Sockets</a></li>
    <li class="active"><a href="/signup">File Uploader</a></li>
{% endblock %}


{% block body %}

    <div class="container">

        <form method="post" action="/upload" enctype="multipart/form-data">
            <h2 class="form-signin-heading">File Uploader</h2>
            <br>
            <input type="file" name="file">
            <br>
            <br>
            <input type="submit" value="Upload" class="button">
            <br>
            <br>
            {% if error %}
                <div class="error">
                    {{error}}
                </div>
            {% endif %}
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Uploaded File</th>
                    <th>File Type</th>
                    <th>Size</th>
                </tr>
                {% for file in files %}
                    <tr>
                        <td><a href="/file?file_id={{ file.key() }} "> {{ file.name }}</a></td>
                        <td>{{ file.content_type }}</td>
                        <td>{{ file.size }} KB</td>
                    </tr>
                {% endfor %}
            </table>
        </form>

    </div>
{% endblock %}

